body {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  background-image: url("/ci-project2/images/space_background.gif") ;
}

.rubik-bubbles-regular {
    font-family: "Rubik Bubbles", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 6rem;
  }

/* <uniquifier>: Use a unique and descriptive class name
//** <weight>: Use a value from 100 to 700 **/

.roboto-mono-quiz {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

#the_sun {

  display: block;
  margin-left: auto;
  margin-right: auto
}
  
h1, h2, p {
  text-align: center;
}

#users_name {

  font-size: largerroboto-mono-quiz;
  color: chocolate;
  font
}

form {

  text-align: center;
}


img {
height: 300px;
width: 300px;
}

#landing_audio {
  /* display: none; */
}

