body {
  background-color: aquamarine;
  color: darkorange;
}
button {
  height: 340px;
  width: 340px;
  color: black;
  background-color: bisque;
}

button:hover {
  color: bisque;
  background-color: black;
}

/* div {
  background-color: rgb(255, 127, 240);
  color: darkorange;
  width: 100px;
  height: 50px;
}
